extends layout

block content 
  div(class="header")
    h1= title

  form(class="form" method="POST" action="/new")  
    if errors 
      for err in errors 
        if err.path === 'user'
          p(class="form-error")!=err.msg
    div(class="form-section")
      label(for="name") Name
        span= '(max. 40 characters)'
      input#name(type="text" name="user" required placeholder="Enter your name" min=1 max=40)
    
    if errors 
      for err in errors 
        if err.path === 'text'
          p(class="form-error")!=err.msg
    div(class="form-section")
      label(for="text") Message
        span= '(max. 500 characters)'
      textarea#text(type="text" name="text" required placeholder="Enter your message" min=1 max=500 rows=10)

    div(class="form-buttons")
      a(href="/") Go back
      button(type="submit") Add a message

